{% extends 'layout.html' %}

{% block body %}
    <br>
    <h3>Hakkımızda</h3>
    <hr>
    <p>Hakkımızda yazısı, genelde misyon ve vizyonun yer aldığı klasik bölümlerden oluşan, kişilerin veya şirketlerin kendilerinden bahsettiği kısa ve öz yazılardır.
        İnternet üzerinde çokça öneriler bulunmakta. Örneğin; ekibinizden mutlaka bahsedin, hikayenizi anlatın, gelecekte ki yerinizden bahsedin, müşteri yorumlarına yer verin vb.
        Bu öneriler kesinlikle doğru ve hakkımızda yazısı örneği arıyorsanız bu seçenekleri değerlendirebilirsiniz. Aradığınız farklı bir yazı ise, bu yazının tamamını okuduğunuzda özgün bir hakkımızda yazısı oluşturabiliyor olacaksınız.
        Öncelikle değinmek istediğim ilk konu, kendinizi doğru tanıtmak yada başarılarınızdan bahsetmek, sanılanın aksine narsist veya ben merkezli olmak değildir. Karşılıklı fayda sağlayabilmek ve bir bağ kurabilmek için en iyi yöntemdir.
        Kendinizi doğru bir şekilde ifade etmeniz karşınızdaki kişiye neler katabileceğiniz konusunda yardımcı olacaktır. Özellikle yüz yüze iletişimde 7-9 saniye içerisinde kendimizi anlatmamız gerektiği söylenir.
        Ancak tüm bunlara geçmeden önce, tasarımsal olarak hakkımızda yazısını nasıl planlayabiliriz birlikte bunları inceleyim.
        Yazacağınız hakkımızda yazısı bir firma ile ilgili olabilir, basit bir butik işletme olabilir veya bir blog sitesi için bu yazısı oluşturuyor olabilirsiniz. Şimdi tüm bu farklı alanlar için, farklı tasarımlar örnekleri paylaşacağım.</p>
{% endblock body %}