{% extends 'layout.html' %}

{% block body %}
 <h3>Makaleler</h3>
 <hr>
 <div class="input-group mb-3">
    <form class="input-group mb-3">
        <input type="text" name="keyword" class="form-control" placeholder="Burada Makale Ara" aria-label="Burada Makale Ara" aria-describedby="basic-addon2"> <!--keyword ve butonun submitini kullnarak get request-->
        <button class="btn btn-outline-secondary" type="submit">Ara</button>
    </form>
</div>
 {% if articles %}
 {% for article in articles %}
 <div class="row">
    <div class="col-md-10 offset-md-3">
    <div class="col-lg-8">
        <!-- Post content-->
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <a href="{% url 'detail' article.id %}"><h1 class="fw-bolder mb-1">{{article.title}}</h1></a> <!--artan url lerde dinamik id böyle tanımlanıyor-->
                <!-- Post meta content-->
                <p class="lead">{{article.author.username}}</p>
                <div class="text-muted fst-italic mb-2">{{article.created_date}}</div>
                <hr>
            </header>
            <!-- Preview image figure-->
            {% if article.article_image %} <!--resim varsa resmin kaynağını ayarla-->
            <figure class="mb-4"><a href="{% url 'detail' article.id %}"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="..." /></a></figure>
            {% endif %}
            <!-- Post content-->
            <section class="mb-5">
                <p class="fs-5 mb-4">{{article.content|safe|truncatewords:50}}<a href="{% url 'detail' article.id %}"> devamını oku</a></p> <!-- |safe etiketi içeriğin html olarak görünmesini engeller, truncatewords içeriğin ilk "50" kelimesini gösterir.(devamını oku özelliği için)-->
            </section>

        </article>
    </div>
</div>
</div>
 {% endfor %}
 {% else %}
    <div class="alert alert-danger">
        Makale Bulunamadı
    </div>
 {% endif %}
{% endblock body %}

