<!--miras alınan sayfa eklendi-->
{% extends 'layout.html' %}

{% block body %}
    <div style="margin-top:20px" class="jumbotron text-center">
        <h3>Yalçın Şabançelebi</h3>
        <p>Bloğuma hoşgeldiniz! Bu blogta geliştiriciler olarak blog yazılarınızı paylaşabilirsiniz ve insanlara yardımcı olabilirsiniz.</p>
    </div>

    <!--Bu şekilde koşullu ifadeler çağırabilir-->
    {% if number1 == 20 %}
        <p>Sayımız 20'ye eşit</p>
    {% else %}
        <p>Sayımız 20'ye eşit değil</p>
    {% endif %}

    <!--Bu şekilde for döngüsü çağırabilir-->
    <ul>
    {% for numbers in number2 %}
        <li>{{numbers}}</li>
    {% endfor %}
    </ul>

    <p>
        {% if request.user.is_authenticated %} <!--eğer request içerinde bir kullanıcı giriş yapmışsa-->
        Giriş Yapılmış, {{request.user.username}}
        {% else %}
        Giriş Yapılmamış
        {% endif %}
    </p>
{% endblock body %}
